body {
  font-family: 'Bebas Neue', sans-serif;
}

.icon-top {
  background: #000000;
}

.icon-top a {
  color: #ffffff;
  font-size: 17px;
  transition: color 1s ease;
}

.icon-top a:hover {
  color: #242424;
}

.navbar {
  background: #ffffff !important;
  padding: 35px 35px !important;
  transition: padding 2s ease;
}

.navbar-background {
  padding: 2px 20px !important;
}

.navbar-brand {
  color: #000000;

  font-size: 75px;
  transition: all 2s;
}



.navbar-toggler {
  border: 3px solid #000000;
  padding: 3px;
}

.bar1,
.bar2,
.bar3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  background: #000000;
  transition: all 0.5s ease;
}

.change .bar1 {
  transform: rotate(90deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(90deg) translate(-5px, -8px);
}

.nav-link {
  color: #ff670f;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 2s ease;
}

.nav-link:hover {
  background: #ff670f;
  color: #000000;
}

.nav-active {
  color: #000000;
  font-size: 25px;
  padding: 10px 20px !important;
  border-radius: 5px;
  background: rgba(42, 145, 52, 0.6);
  transition: background 2s ease;
}

.nav-active:hover {
  background: #000000;
}

.drop_elem {
  color: #ff670f;
  padding: 10px 20px !important;
  border-radius: 5px;
  transition: background 2s ease;
}

.drop_elem:hover {
  background: #ff670f;
  color: #ffffff;
}

.dropdown-menu {
  background: #ffffff !important;
}

.item-1,
.item-2,
.item-3 {
  min-height: 60vh;
  clip-path: polygon(0 0, 100% 0, 100%, 100%, 0, 100%);
}

.item-1 {
  background: url(../img/chiron.jpg) center/cover fixed no-repeat;
}

.item-2 {
  background: url(../img/porsche1.jpg) center/cover fixed no-repeat;
}

.item-3 {
  background: url(../img/urus3.jpg) center/cover fixed no-repeat;
}

.slide-btn {
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: all 1s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.slide-btn:hover {
  color: #ff670f;
  background: #ffffff;
  border-color: #ffffff;
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.title h1 {
  color: #000000;
}

.title h3 {
  color: #5a5a5a;
}

.title-underline {
  height: 5px;
  width: 250px;
  background: #ff670f;
  margin: 30px auto 0 auto;
}

.title a {
  color: #000000;
  font-size: 30px;
  padding: 0px 10px;
  display: inline-block;
  background: #ffffff;
}

.skills-icon {
  background: #242424;
  clip-path: polygon(0 0, 100%, 0, 100% 100%, 0 100%);
  transition: all 1s ease;
}

.skills-icon:hover {
  background: #ff670f;
}

.skills-icon span {
  font-size: 100px;
  color: #909090;
  transition: all 1s ease-in-out;
}

.skills-icon:hover span {
  color: #ffffff;
}

#about .title a {
  background: #909090;
}

#about a {
  color: #;
  background: #ff670f;
  border: 2px solid #10429e;
  transition: all 1s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#about a:hover {
  color: #000000;
  background: #ffffff;
  border-color: #ffffff;
  transform: translateY(-7px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.about-progress {
  min-height: 50vh;
  outline: 5px solid #10429e;
  outline-offset: 10px;
}

.progress-bar {
  background: #ff670f;
}

#projects .card {
  background: transparent !important;
  border: none;
  position: relative;
}

#projects .card-img-top {
  border-radius: 0 !important;
}

.img-container {
  position: relative;
  overflow: hidden;
  background: none;
}

.img-container img {
  transition: all 1s ease-in-out;
  opacity: 1;
}

.img-container:hover .project-image {
  opacity: 0.3;
  transform: scale(1.3);
}

.search-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #ff670f;
  transition: margin 1s ease-in-out, color 0.5s ease-in-out, opacity 0.75s ease-in-out;
  margin-top: -50%;
  opacity: 0;
}

.search-link:hover {
  color: #242424;
}

.img-container:hover .search-link {
  margin-top: 0;
  opacity: 1;
}

.footer {
  background: #ffffff;
}

.footer a {
  color: #000000;
  font-size: 15px;
  transition: color 1s ease;
}

.footer a:hover {
  color: #000000;
}

.text-footer {
  color: #000000;
  font-size: 15px;
}

h5 {
  color: #ffffff;
}

.fa-medal {
  font-size: 3rem;
}

/* Custom bootstrap cards css */
.card-img-top {
  width: 100%;
  height: 150px;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}



/*Profile Card 5*/
.profile-card-5 {
  margin-top: 20px;
}

.profile-card-5 .btn {
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 20px;
}

.profile-card-5 .card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
}

.profile-card-5 .card-img-block img {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.63);
}

.profile-card-5:hover {
  transform: scale(1.2, 1.2);
  z-index: 9999;
}

.profile-card-5 h5 {
  color: #ff670f;
  font-weight: 600;
}

.profile-card-5 p {
  font-size: 14px;
  font-weight: 300;
}

.profile-card-5 .btn-primary {
  background-color: #4E5E30;
  border-color: #4E5E30;
}